
body{
  font-size: 0.37rem;
  font-family: PingFang-SC-Regular;
}
.pic{
  background: url('./img/pic.png') no-repeat center;
  background-size: cover;
  width: 0.56rem;
  height: 0.56rem;
}
.left {
  margin-top: 0.43rem;
  float: left;
  margin-left: 0.426rem;
}
.right {
  float: left;
  margin-top: 0.43rem;
  margin-right: 0.426rem;;
  transform: rotateY(180deg);
}
.changLanguage{
  position: relative;
  width: 2.96rem;
  height: 0.83rem;
  margin: 0.43rem 2.53rem 0 2.53rem;
  float: left;
  background-color: #4f4f4f;
  border-radius: 0.41rem;
  
}
.changLanguage .Chinese-on{
  font-size: 0.3rem;
  width: 1.3rem;
  height: 0.83rem;
  background-color: #000;
	box-shadow: 0px 6px 4px 0px 
		rgba(0, 0, 0, 0.1);
  border-radius: 0.41rem;
  border: none;
  color: #fff;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  transition: 0.3s
}
.changLanguage .English{
  font-size: 0.3rem;
  width: 2.29rem;
  height: 0.83rem;
  background-color: #4f4f4f;
  border-radius: 0.41rem;
  border: none;
  color: #9c9c9c;
  position: absolute;
  left: 1.01rem;
  text-align: right;
  padding-right: 0.51rem;
  cursor: pointer;
}
.changLanguage .Chinese{
  font-size: 0.3rem;
  width: 1.3rem;
  height: 0.83rem;
  position: absolute;
  background-color: #4f4f4f;
  border-radius: 0.41rem;
  border: none;
  color: #9c9c9c;
  cursor: pointer;
}
.changLanguage .English-on{
  font-size: 0.3rem;
  width: 2.29rem;
  height: 0.83rem;
  background-color: #000;
	box-shadow: 0px 6px 4px 0px 
		rgba(0, 0, 0, 0.1);
  border-radius: 0.41rem;
  border: none;
  color: #fff;
  z-index: 1;
  text-align: center;
  left: 1.01rem;
  position: absolute;
  cursor: pointer;
}
.line{
  border: 1px solid #e1e1e1;
  border-top: none;
  border-bottom: none;
  margin: 0 0.426rem;
  
}
.line .logo{
  background: url('./img/logo.png') no-repeat center;
  background-size: cover;
  width: 1.6rem;
  height: 1.11rem;
  margin-top: 0.35rem;
  margin-left: auto;
  margin-right: auto;
}
.line h1{
  font-size: 0.48rem;
  margin-top: 0.25rem;
  color: #333333;
  text-align: center;
}
.line .illustrate{
	line-height: 0.64rem;
  color: #666666;
  margin: 0 auto;
  width: 7.84rem;
  margin-top: 0.49rem;
}
hr{
  background-color: #e1e1e1;
  height:1px ;
  border: none;
  margin: 0.3rem 0.64rem 0.53rem 0.64rem;
}
input{
  width: 0.48rem;
  height: 0.48rem;
  border: 0px;
  vertical-align: text-bottom;
  margin-right: 0.16rem;
 
}

ol {
  margin:0 0.64rem 0.53rem 0.64rem;
}
ol li{
  margin-bottom: 0.35rem
}
ol>li>h2 {
  line-height: 0.64rem;
  color: #333333;
}
ol>li>h2>span{
  color: #c82249;
}
ol>li>p {
  line-height: 0.8rem;
  margin-top: 0.1rem;
  color: #333333;
}
textarea{
  margin-top: 0.265rem;
  border:0.027rem solid #a0a0a0;
  background-color: #e5e5e5;
  border-radius:0.053rem;
  padding: 0.37rem 0.41rem;
  margin-bottom: 0.2rem;
  font-size: 0.37rem
}
ol li:nth-child(8) input{
  background-color: #e6e6e6;
	border-radius: 0.373rem;
  border: solid 0.027rem #a0a0a0;
  width: 6.52rem;
  height: 0.75rem;
  margin-bottom: 0.12rem;
  padding:0 0.5rem;
  vertical-align:top;
  margin-right: 0
}
ol li:nth-child(8){
  margin-bottom: 0
}
h6{
  font-size: 0.32rem;
	color: #666666;
  opacity: 0.6;
  text-align: center;
  margin: 0.15rem 0 0.25rem 0
}
.btn-sub{
  width: 7.87rem;
	height: 1.173rem;
	background-image: linear-gradient(0deg, 
		#000000 0%, 
		#323232 100%), 
	linear-gradient(
		#000000, 
		#000000);
	background-blend-mode: normal, 
		normal;
	box-shadow: 0px 1px 2px 0px 
		rgba(0, 0, 0, 0.65);
	border-radius: 0.133rem;
  border: solid 1px #000000;
  font-size: 0.48rem;
  color: #fff;
  cursor: pointer;
}
.left_2 {
  float: left;
  margin-left: 0.426rem;
  transform: rotateX(180deg);
  margin-top: -0.2rem;
  margin-bottom: 0.2rem
}
.right_2 {
  float: right;
  margin-right: 0.426rem;;
  transform: rotateY(180deg) rotateX(180deg);
  margin-top: -0.2rem;
  margin-bottom: 0.2rem
}